.nav-bar {
    background-color: #1F2937;
    display: flex;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
}

.nav-bar-container {
    display: flex;
    width: 1400px;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

.hero {
    background-color: #1F2937;
    display: flex;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    padding: 110px 0px;
}

.hero-container {
    display: flex;
    width: 1400px;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 20px;
    width: 650px;
}

.image {
    background-color: #808080;
    height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.header {
    margin-bottom: 0px;
}

.button {
    background-color: #3882F6;
    color: #fff;
    border-radius: 8px;
    width: 120px;
    padding: 7px 18px;
    font-size: 18px;
    border: 0px;
}

.random {
    background-color: #fff;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.random-text {
    display: flex;
    justify-content: center;
    margin: 35px 0px;
    font-size: 20px;
}

.squares {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.square-1, .square-2, .square-3, .square-4 {
    border: 4px solid #3882F6;
    height: 160px;
    width: 160px;
    border-radius: 20px;
}

.subtext {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
}

.subtext-1, .subtext-2, .subtext-3, .subtext-4 {
    display: flex;
    width: 170px;
}

.quote {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #E5E7EB;
    padding: 110px;
    justify-content: center;
    flex-direction: column;
}

em {
    font-size: 36px;
}

.author {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
}

.call-to-action {
    display: flex;
    padding: 80px 208px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.call-to-action-container {
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    width: 1400px;
    height: auto;
    justify-content: space-around;
    padding: 48px;
    align-items: center;
}

.signup-button {
    background-color: #3882F6;
    color: #fff;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    padding: 7px 18px;
    font-size: 18px;
    border: 0px;
    border: 2px solid #fff;
}

.call-to-action-container h2 {
    margin: 0;
}

.call-to-action-container p {
    margin: 0;
}

.footer {
    background-color: #1F2937;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 32px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 0;
}